<div class="stats">
    <div class="row">
        <div class="col-md-6">
            <span>Latitude:</span>
        </div>
        <div class="col-md-6">
            <span id="latitude"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span>Longitude:</span>
        </div>
        <div class="col-md-6">
            <span id="longitude"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span>Speed:</span>
        </div>
        <div class="col-md-6">
            <span id="speed"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span>Heading:</span>
        </div>
        <div class="col-md-6">
            <span id="heading"></span>
        </div>
    </div>
</div>