<div id="info" class="file">
  <div class="row ">
    <div class="col-md-3 ">
    </div>
    {% for i in range(1,5) %}
    <div class="col-md-2">
      <span style="width:100%">
        <b id="fileName{{i}}" >  </b>
      </span>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-3 ">
      <input id="processip" type="text" class="form-control" placeholder="Process IP" value="192.168.1.21:3300">
    </div>
    {% for i in range(1,5) %}
    <div class="col-md-2">
      <button id="k{{i}}" style="width:100%" class="btn btn-small btn-danger">Start</button>
    </div>
    {% endfor %}
  </div>
  <div class = "row">
    <div class = "col-md-4" style="left:25%">
      <div id="Progress_Status">
           <div id="myprogressBar">1%</div>
      </div>
    </div>
  </div>

</div>
